.logo {
    width: 70%;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    margin-right: 50px;
}
.principal {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
}

main {
    background-color: white;
    text-align: center;
}

.porquinho {
    width: 35%;
    float: left;
    margin: 0px 10px 10px 0;
    border-radius: 10px;
    border-color: black;
}

.beneficios {
    text-align: right;
    border-color: black;
    list-style: none;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 70%;
}

.beneficios li:hover {
    font-size: 22px;
    color:rgb(76, 129, 216)
}

.login {
    margin-top: 150px;
    clear: both;
}

input {
    border-color: rgb(76, 129, 216);
    border-radius: 10px;
    padding: 10px;
}

.Entrar:active {
    color:rgb(64, 189, 6);
    cursor: pointer;
}

.copyright {
    text-align: center;
    margin-top: 50px;
    clear: both;
}